<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blogger's Jam - Start painting the world with your ideas !</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"></i>BLOGGER'S JAM</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">BLOGS</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
