<%# Adding Header Template %>
<%- include("partials/header") -%>

<%# Main Content %>
<h1><%= customTitle %></h1>
<p><%= customContent %></p>

<%# Adding Footer Template %>
<%- include("partials/footer") -%>
